---
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    cooldown:
      default-days: 7
      exclude:
        - "electron"
    groups:
      production-dependencies:
        dependency-type: "production"
        exclude-patterns:
          - "@shoelace-style/shoelace"
          - "electron-updater"
      development-dependencies:
        dependency-type: "development"
        exclude-patterns:
          - "electron"
          - "electron-builder"
      builder-dependencies:
        patterns:
          - "electron-builder"
          - "electron-updater"
      core-dependencies:
        patterns:
          - "electron"
          - "@shoelace-style/shoelace"
