node_modules/
.yarn/


.idea/
.vscode/*
!.vscode/launch.json

.DS_Store

dist/
build/flatpak/.flatpak-builder
build/flatpak/build

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
