<sl-dialog id="instance-creator" label="Instance creator">
	<sl-alert id="warning-alert" variant="warning">
		<sl-icon slot="icon" library="lucide" name="circle-alert"></sl-icon>
		<strong>Docker is required for local instance</strong><br />
		To run a self-hosted, local instance of the app, Docker is required. Please
		install Docker by following the steps outlined in the official
		documentation. You can choose between installing Docker Desktop for a
		user-friendly experience or Docker Engine for a more customizable setup.
		<ul>
			<li>
				<a
					href="https://docs.docker.com/desktop/"
					target="_blank"
					rel="noopener noreferrer"
					>Docker Desktop</a
				>
				(Mac, Linux, Windows)
			</li>
			<li>
				<a
					href="https://docs.docker.com/engine/install/"
					target="_blank"
					rel="noopener noreferrer"
					>Docker Engine</a
				>+
				<a
					href="https://docs.docker.com/compose/"
					target="_blank"
					rel="noopener noreferrer"
					>Docker Compose</a
				>
				(Linux)
			</li>
		</ul>
	</sl-alert>

	<form id="instance-creator-form">
		<sl-input name="label" label="Label" required></sl-input>
	</form>

	<div slot="footer">
		<sl-button
			id="instance-submit-creator"
			type="submit"
			variant="primary"
			form="instance-creator-form"
			>Create</sl-button
		>
		<sl-button id="instance-close-creator" variant="primary">Close</sl-button>
	</div>
</sl-dialog>
