<tab-group new-tab-button="true" sortable="true" class="full-window">
	<style>
		:host {
			--tabgroup-background: transparent;

			/* Tab */
			--tab-height: var(--top-bar-height);

			--tab-background: transparent;
			--tab-font-size: 16px;
			--tab-color: var(--sl-color-neutral-600);
			--tab-border-color: transparent;

			--tab-active-color: var(--sl-color-primary-600);
			--tab-active-background: transparent;

			--tab-hover-color: var(--sl-color-primary-600);
			--tag-hover-background: transparent;

			/* Button */
			--button-font-size: 20px !important;
			--button-background: none !important;
			--button-color: var(--sl-color-primary-600);
			--button-border-radius: 12px;
			--button-cursor: pointer;

			--button-hover-background: #303236;
			--button-hover-color: #fff;

			--close-button-visibility: visible;

			/* Badge */
			--badge-background: #383a3e;
			--badge-color: #fff;
		}
		.nav {
			-webkit-app-region: drag;

			display: flex !important;
			align-items: center;

			position: fixed;
			top: 0px;
			z-index: 10;
			border: none;
			height: var(--tab-height);

			margin-left: 4.5rem;
		}

		.tab {
			-webkit-app-region: no-drag;

			flex: none;

			.tab-close button {
				display: grid;
				place-content: center;
			}
		}

		.tabs {
			display: flex;
			align-items: center;
			overflow-x: scroll;

			&::-webkit-scrollbar {
				background: transparent;
				height: 1px;
				width: 0px;
			}
			&::-webkit-scrollbar-thumb {
				background: var(--sl-color-primary-600);
			}
		}

		.buttons {
			-webkit-app-region: no-drag;

			button {
				width: 32px;
				height: 32px;
			}
		}

		webview {
			height: calc(100% - var(--tab-height));
			position: fixed;
			bottom: 0px;
			z-index: 20;
			left: 0px;
		}
	</style>
</tab-group>
