.controls {
	position: relative;
	z-index: 5;
	top: 0px;
	left: 0px;
	margin: 4px 0px 0px 4px;
	app-region: no-drag;

	opacity: var(--top-bar-opacity, 1);

	&::part(base) {
		display: flex;
		gap: var(--sl-spacing-2x-small);
	}

	sl-icon-button {
		font-size: 16px;

		&::part(base) {
			width: 32px;
			height: 32px;

			display: grid;
			place-content: center;
		}
	}
}
